<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:cache="http://www.springframework.org/schema/cache"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


	<!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->

	<!--<bean id="stAd" class="com.xuxu.sprd.aop.StudentAdvice"></bean>-->


	<bean id="person" class="com.xuxu.sprd.pojo.Person">
		<property name="name" value="xuxu"></property>
		<property name="age" value="26"></property>
		<!--<property name="student" ref="student"></property>-->
		<!--<constructor-arg index="0" value="xuxu"/>-->
		<!--<constructor-arg index="1" value="1"/>-->
	</bean>

	<bean id="facpro" class="com.xuxu.sprd.ioc.FactoryPostProcessor"/>
	<!--<bean id="pro" class="com.xuxu.sprd.ioc.MyInstantiationAwareBeanPostProcessor"/>-->

	<!--<bean id="myInterceptor" class="com.xuxu.sprd.ioc.MyMethodInterceptor" lazy-init="false"/>-->


	<!--<bean id="student" class="com.xuxu.sprd.pojo.Student" lazy-init="true">-->
		<!--<property name="tClass" value="101"></property>-->
		<!--<property name="grade" value="3"></property>-->
	<!--</bean>-->

	<bean id="cperson" class="com.xuxu.sprd.aop.testProxyFactoryBean.CPerson">
		<property name="name" value="zhangsan"></property>
	</bean>

	<bean id="school" class="com.xuxu.sprd.pojo.School"/>
	<!-- 准备切点跟advice -->
	<!--<bean id="beforeAfterAdvice" class="com.xuxu.sprd.aop.testProxyFactoryBean.PersonAdvice"/>-->

	<!--<aop:config>-->
		<!--<aop:aspect id="aspect" ref="beforeAfterAdvice">-->
			<!--<aop:pointcut id="queryPoincut" expression="execution(* com.xuxu.sprd.aop.testProxyFactoryBean.PersonAdvice.*(..))" />-->
			<!--<aop:before method="before" pointcut-ref="queryPoincut"/>-->
			<!--<aop:after method="afterReturning" pointcut-ref="queryPoincut"/>-->
		<!--</aop:aspect>-->
	<!--</aop:config>-->


</beans>
